body {
    background-image: -webkit-linear-gradient(65deg, #c72c41 70%, #212121 30%);
  background-color: #c7004c;
  color: #ee4266;
  font-family: 'Lobster', cursive;
  
  
  
}

.calculator {
  padding: 50px 50px 20px 50px;
  text-align: center;
  margin-left: 300px;
  margin-top: 100px;
  background-color:#211717;
  width: 50%;
  /* box-shadow: 0px 0px 8px  rgb(169, 24, 36) */
  animation: shine 2s ease-in-out infinite alternate-reverse;
  border-radius: 10px;
  
}

.name-box {
  padding: 12px 14px;
  width: 40%
}

/* buttons */
.buttons {
  color: #fffcfd;
  background-color: #ed0808;
  border: solid;
  border-color: #ee4266;
  cursor: pointer;
  margin: 10px 10px;
  padding: 10px 20px 10px 20px;
  position: relative;
  opacity: 0.5;
  font-size: 1rem;
  transition: 0.5 ease-in-out;
}
@keyframes shine{
    0%{
        box-shadow: 0px 0px 20px red;
    }
    50%{
        box-shadow: 0px 0px 20px transparent;
    }
    100%{
        box-shadow: 0px  0px 20px red;
    }
}

.buttons:hover {
  box-shadow: 5px 3px #bd245f;
  opacity: 1;
  color: #fcf0f3;
}
/* Social Media  */
.social-media{
  opacity:0.5;
  cursor:pointer;
  padding: 10px 3px 0 4px
}
.social-media:hover{
opacity: 1;
}
 a{
    color:#ee4266;
}
 /* copy right  */
 p{
 opacity: 1;
 font-size: 1rem;
}
 #notice{
 opacity: 0.5;
 font-size:.8rem;
}
/* Media Query */
@media (max-width:600px) {
  .buttons{width:30%;
  border-radius: 5px;}
  .calculator {width: 60%;
    padding: 10px 20px 10px 10px;
    margin-left: 100px;
    margin-top: 50px;
  }
}
@keyframes text{
    0%{
        text-shadow: 0px 0px 10px white;
    }50%{
        text-shadow: 0px 0px 10px transparent;
    }100%{
        text-shadow: 0px 0px 10px rgb(255, 255, 255);
    }
}
h1,h2{
   

    
}
#heart{
    animation: text alternate 2s infinite ease-in-out;
}
@keyframes change{
    0%{
        background: linear-gradient(to right,red,rgb(252, 44, 44),rgb(248, 95, 95),rgb(254, 148, 148));
    }
    50%{
        background: linear-gradient(to right,rgb(216, 249, 231),rgb(99, 251, 243),rgb(3, 220, 209));
    }
    100%{
        background: linear-gradient(to right,rgb(248, 248, 7),rgb(255, 255, 114),rgb(252, 252, 159));
    }
}